spring:
  application:
    name: order-notification-service

  datasource:
    url: jdbc:postgresql://localhost:5432/order_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    aws:
      region:
        static: sa-east-1
      credentials:
        access-key: test
        secret-key: test
      sqs:
        endpoint: http://localhost:4566

app:
  sqs:
    queue-name: fila-pedidos